<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title> <!--title placeholder for individual blog entry pages-->
        <style>
            h1{
                text-align: center;
                font-weight: bold;
                font-size: 2em;
            }
            .error{
                color: red;
            }
            .postheader{
                font-size: 1.5em;
            }
            .postheader:hover{
                font-weight: bold;
                font-size: 20px;
            }
            nav{
                text-align: left;
                font-size: 1em;
            }
        </style>

        <nav>
            <a href="/blog.html">Main Blog Page</a>  &emsp;  <a href="/newpost.html">Add A Blog Entry</a>
        </nav>
    </head>
    <body>

        {% block content %}
        {% endblock %}

    </body>
</html>