<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            h1{
                text-align: center;
                font-weight: bold;
                font-size: 2em;
            }
            .error{
                color: red;
            }
            h2{
                font-size: 1.5em;
            }
            h2:hover{
                font-weight: bold;
                font-size: 20px;
            }
            nav{
                text-align: left;
                font-size: 1em;
            }
        </style>

        <nav>
            <a href="/blog">Main Blog Page</a>           &emsp;  
            <a href="/newpost">Add A Blog Entry</a>
        </nav>
    </head>
    <body>

        {% block content %}
        {% endblock %}

    </body>
</html>