{% extends "base.html" %}

{% block content %}
    
    <h1>Welcome to Blogz!</h1> <!-- use title so it goes in template? -->
    <h3 style="text-align: center;">here's what's on people's minds...</h3>

    {% if posts|length == 0 %}
        <p>There's nothing here yet... would you like to <a href="/newpost">write something new</a>?</p>
    {% else %}
        {% for post in posts %} <!--have to iterate over all blogs to generate blog previews-->
        <h2><a href="/blog?id={{post.id}}">{{post.title}}</a></h2>
        <p>{{post.body}}</p>
        <p><i>written by... <a href="/blog?user={{post.owner_id}}">{{post.owner.username}}</a></i></p>
        {% endfor %}  
    {% endif %}
{% endblock %}
