{% extends "base.html" %}

{% block content %}
    
    <h1>Build-a-Blog</h1> <!-- use title so it goes in template? -->

    {% if posts|length == 0 %}
        <p>There's nothing here yet... would you like to <a href="/newpost">write something new</a>?</p>
    {% else %}
        {% for post in posts %} <!--have to iterate over all blogs to generate blog previews -- does order (new>old) matter?-->
        <h2><a href="/blog?id={{post.id}}">{{post.title}}</a></h2>
        <p>{{post.body}}</p>        <!--blog_body?-->   
        {% endfor %}  
    {% endif %}

{% endblock %}
