{% extends "base.html" %}

{% block content %}
<h1>Log in to your Blogz account!</h1>

<form action="/login" method="POST">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="username" value="{{ email }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>

<p>Don't have a Blogz account? Don't worry! You can <a href="/signup">create an account</a> here!</p>

{% endblock %}
